body{
    margin: 0 auto;
    padding: 30px;

}
img{
    width: 428px;
    height: 650px;
    
}
.foto{
    display: inline-block;
    padding: 5px;
    position: relative;
    
}
strong{
    color: red;
}    
span{
    text-decoration: line-through;
}
.rectangle-red{
    height: 15px;
    width: 45px;
    background-color: red;
    position: absolute;
    top: 75%;
    padding: 3px;
}
.sconto,.materiale{
    color: white;
}
.rectangle-green{
    height: 15px;
    width: 95px;
    background-color: green;
    position: absolute;
    top: 75%;
    padding: 3px;
    left: 14%;
}
.rectangle-green2{
    height: 15px;
    width: 95px;
    background-color: green;
    position: absolute;
    top: 75%;
    padding: 3px;
}

